h2 {
	font-family: 'Libre Baskerville', serif;
	font-size: 70px;
	font-weight: 400;
	letter-spacing: 4px;
	text-transform: uppercase;
}

h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 42px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
}

h4 {
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 28px;
}

body {
	margin: 0;
}

header {
	position: relative;
	padding: 0 40px 20px 40px;
}

header p {
	display: inline-block;
	padding-right: 15px;
	font-size: 12px;
}

header p:last-child {
	float: right;
	text-align: right;
	padding-right: 0;
}

header h3 {
	text-transform: uppercase;
	text-align: center;
}

main {
	background-color: #6CB35D;
}

section {
	position: relative;
	width: 100%;
}

.splash img {
	width: 100%;
	height: auto;
	position: relative;
	top: -4px;
}

.splash h2 {
	position: absolute;
	width: 100%;
	top: 30%;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

.post {
	color: #fff;
	display: table;
	padding: 30px 0;
}

.post div {
	width: 49%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	padding: 30px;
}


.post .title-feather {
	border-right: 2px solid #fff;
}

.post .title-feather img {
	width: 140px;
	height: auto;
}

footer {

}

footer img {
	height: auto;
	width: 160px;
}

@media (max-width: 768px) {
	h2 {
		font-size: 19px;
	}

	h3 {
		font-size: 15px;
	}

	p {
		font-size: 19px;
	}

	header {
		padding: 20px
	}

	header .preheader {
		display: none;
	}

	header h3 {
		text-align: left;
	}

	.post {
		display: block
	}

	.post div {
		display: block;
		width: 100%;
		padding: 10px;
	}

	.post div h3 {
		font-size: 20px;
	}
	.post .title-feather {
		border-right: none;
	}

	.post .title-feather img {
		display: none;
	}

	.post .title-feather p {
		font-size: 15px;
	}

}